/**
* Lamp Control API
* A simple API for controlling lamps, demonstrating CRUD operations.
*
* The version of the OpenAPI document: 1.0.0
*
*
* NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
* https://openapi-generator.tech
* Do not edit the class manually.
*/
package com.lampcontrol.api

import com.lampcontrol.api.models.*
import io.ktor.resources.*
import kotlinx.serialization.*

object Paths {
    /**
     * Create a new lamp
     *
     * @param lampCreate
     */
    @Resource("/lamps")
    class createLamp()

    /**
     * Delete a lamp
     *
     * @param lampId
     */
    @Resource("/lamps/{lampId}")
    class deleteLamp(val lampId: kotlin.String)

    /**
     * Get a specific lamp
     *
     * @param lampId
     */
    @Resource("/lamps/{lampId}")
    class getLamp(val lampId: kotlin.String)

    /**
     * List all lamps
     *
     * @param cursor  (optional)
     * @param pageSize  (optional, default to 25)
     */
    @Resource("/lamps")
    class listLamps(val cursor: kotlin.String? = null, val pageSize: kotlin.Int? = null)

    /**
     * Update a lamp&#39;s status
     *
     * @param lampId
     * @param lampUpdate
     */
    @Resource("/lamps/{lampId}")
    class updateLamp(val lampId: kotlin.String)
}
