root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 140
tab_width = 4
trim_trailing_whitespace = true

[*.kt]
ktlint_standard_no-wildcard-imports = enabled

# Disable wildcard import rule for generated API files
[src/main/kotlin/com/lampcontrol/api/apis/*.kt]
ktlint_standard_no-wildcard-imports = disabled

[src/main/kotlin/com/lampcontrol/api/AppMain.kt]
ktlint_standard_no-wildcard-imports = disabled

[src/main/kotlin/com/lampcontrol/api/Configuration.kt]
ktlint_standard_no-wildcard-imports = disabled

[src/main/kotlin/com/lampcontrol/api/Paths.kt]
ktlint_standard_no-wildcard-imports = disabled

[src/main/kotlin/com/lampcontrol/api/infrastructure/*.kt]
ktlint_standard_no-wildcard-imports = disabled

[src/main/kotlin/com/lampcontrol/api/models/*.kt]
ktlint_standard_no-wildcard-imports = disabled
