name: SQL CI

on:
  push:
    branches: [ main, develop, 'release-*' ]
    paths:
      - 'database/sql/**'
      - '.sqlfluff'
      - '.github/workflows/sql-ci.yml'
  pull_request:
    branches: [ main, develop, 'release-*' ]
    paths:
      - 'database/sql/**'
      - '.sqlfluff'
      - '.github/workflows/sql-ci.yml'

jobs:
  sql-lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      checks: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4
        with:
          ref: ${{ github.head_ref }}
          token: ${{ secrets.GITHUB_TOKEN }}
      
      - uses: actions/setup-python@v5
        with:
          python-version: "3.8"
          
      - name: Install SQLFluff
        run: pip install sqlfluff==3.3.1
        
      - name: Run SQLFluff lint (PostgreSQL)
        if: always()
        run: sqlfluff lint database/sql/postgresql --dialect postgres --exclude-rules LT01

      # - name: Run SQLFluff lint (MySQL)
      #   if: always()
      #   run: sqlfluff lint database/sql/mysql --dialect mysql --exclude-rules LT01
